*{
    font-family: "Public Sans", serif;
}
body{
    background: #FAFAFA;

}
.line:last-child {
    display: none;
}
.teatimonial-section .slick-dots li button:before {
    font-size: 15px;
    width: 20px;
    height: 20px;
    opacity: 1;
    color: #AEAEAE;
}
.teatimonial-section .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #FF8000;
}
.teatimonial-section .slick-dots {
    bottom: -50px;
}
